li{
	float:left;
}

.menus {
	background-color:#C00;
	height:100px;
	text-align:right;
}
#filter_type{
}
.itemimage{
	max-width:150px; width:expression(this.width > 600 ? "600px" : this.width); height:auto;
	margin-left:10px;
}
.imgdiv{
	clear:both;
}

#tree_style{
	width:250px;height:400px;OVERFLOW: auto; scrollbar-face-color: #FFFFFF; scrollbar-highlight-color: #FFFFFF; scrollbar-3dlight-color: #F2F2F2; scrollbar-shadow-color: #999CC; scrollbar-darkshadow-color: #F2F2F2; scrollbar-track-color: #FFFFFF; scrollbar-arrow-color: #9999CC
}